Source: doom3
Section: user/games
Priority: extra
Maintainer: Karin Zhao <beyondk2000@gmail.com>
Build-Depends: debhelper (>= 5), opengles-sgx-img-common-dev, libgles1-sgx-img-dev, scons | scons2, libxi-dev (>= 2.0)
Standards-Version: 3.8.1
Homepage: http://iodoom3.org/

Package: doom3
Architecture: armel
Depends: opengles-sgx-img-common, libgles1-sgx-img, xserver-xomap, libxi6 (>= 2.0), ${shlibs:Depends}, ${misc:Depends}
Description: DOOM III ( OpenGL ES 1.1 port version ) for MeeGo Harmattan.
XB-Maemo-Display-Name: DOOM III
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAZLElEQVR4nL16CXSU5dn29W6zZyYz
 mWwzk31fScKSkABhRwRkEauiiEpVRGpbCy641rZiWytf/fr1/7VqbetWa7EWQcSK7AoGCIEECATI
 HkhCksmezMzzXTPEnu/0WL/a/5z/Pec9M5mZ93nu5bqv+7rfN8A3PCoAiafK03DMqtpmqtLUVGB9
 uir9PluTDk42yReXhis990Vrvu/H6nx3RSjeO8OV+kVm6dAUg/R2oYInJgLzngai/gCYxtaSvqkd
 Xx7yNzVci7GYfh5uyL/dotu4RpK2OqINH95b5Pz5hlL3ymfnp0/+2beKEjasKLE+sWGh8ugji5UN
 d5SHrf3WhPgHrsmc9NSMpBs3TXX98PZ0419OhCsf/JdB+dGDRnXKBzaDnc5o/44j/6sDY4YrJpfL
 uNlpLLojEPjZSLR+yz0TnY8/tTBj6qqZGebk5ChEhRnR196Dk4dqUbHrJHa/tQ9/+PXH2PtxJU4d
 q8Nobz8io8xwZXlQOjPf8MiCrImbyl0PXBune7NCFb96xaKb/arBYH/xG2bka38YXMjIyCgFMZa1
 l71r4x26lUsLYtOTkqIw3DuM3su9qDndir3tQ+gb8mH/lVEMCV4YELAyNB2Bq+uY+L7UIMFuVpAb
 bUR+hBGpGbEw2sKg6WX0NrbjixMtTfvahv/qG5b+I6VzsHkBMDgBEP+2AzRe1qdB23RFK7Q7jBuW
 T4xa4kpzy1arET317Wig4VUXutFMw7d1jqJ24Ov3SlIlNPtEKOVBZ8qiNGS5zZhUloLwNBfQN4yW
 L86JPxxsPXi0a3SzvXd0Fx3wPgz4v27dr4RQxdXPtcfb9fOzI42b75iTsiy/NE8e7OjDR+8dw+o3
 qnHLrlZsPj+InV0+FIUrWJ+qw8woBRkMdzSNtcsSnAqgY4j4J0YlgUKTBANXPsw0fdgyguq6bpzc
 XY3KnZXwjfjgLi+Q1sxPK5sTqf20RS/fsRWIXEY7vpEDY/jTNprVxbPj9T9etWJ8idVigRoRTfym
 443WIWiDo9AxLj1+gVN9AZzqCmB2rgW3uzW4ZYFBfperl3CFEBplYhx0RC8kpJklLHDIuD5aRgyz
 UNELnGkbwRdVnVCS4mEaV4Cw5HjML0tOWeTS/cCvl+86R7Yazxj8Sw58afwGTZo3x61/PDnXndN6
 sRM959pwpfY8LClu/HbNVGS6LXCYVUQxtItoXUEY8Jt9XXjm1AjWpBmQZwIODgZAu0Mg7g8E60Hg
 jfYAtnYG0N4nMM4mYVq0hoxcJ+55YiFMEREYqD6HlqO1MFoNKC3wuFbGqGsGJawaBaL/mRPyPxiv
 rgfysuzq+rwCT25X7whOVDVj5/FGtJyqR3/dRZgUGY+sLcej02Jxb6IeMTTOZddgMsqQaWQHI70k
 VoJZvhr9SEIpgisHi3uigeGkV/uGgPf6FIzPj8bUm2ZCGfBh4MRZHNp9FHftOI/jJ+vhjDQhM9ft
 mmaXV3cC8+mE4+6vQIz8D++NwiB9/5ap8VP7uPtQWw+eON6FwVE/Dp5sQ3tnL4YuXcbwyXMon5aB
 BYvyMDcrDNNi9Ci2Kbg7WcX/rRmAWVUw1XqVH8qZneVRMix8n0HG0RiAeKuGF69LQWZJFpp2H4f3
 ZC0CrJETp9vQSfz9/PMOXLh4CY4YK+4u8SRzrTUDQOYhwPyVDowVrW4FcPcPZ3luDnOGobvVi1/W
 dKF9NIDm4QDeaRpES+NlBAw6DLZ14MTWozBbDCheOB52RYcwScanDT4sdymEDCFCB8Low/lhho5l
 SB+xdxC4Mc6I9+8sQrTbib3vV6DtdDPaWrzw8ZrYkQHc7AR+ON+G+trLkJVBxM1MxzPz4ovceuk7
 dCJhNu38qgzIDwJZUWHKqohYh3zx/BW8eq4b1QN+WGjE5yzSEqNA44V29PaN4o2jXahv6UHtrip0
 17UibFIurggDcpmF5AgNekWCi0V8m0tGGLfb3BzAzHAVT2Zbsfq2UrRc6MCf/ngYjU09ePcCzTIZ
 UHmkDt1ce066hpPnBvB8i8BD75zDCJ3qNoRJhXZluheYWwdE4H/QvzyGfV2jJN16X15UrirLaKRx
 hzqHQJIJ0WBJpIJSt4pfnujEFR9xTC50hMmobupF9eHzOLbjKNLTonHLwhzUt/nxCTOR4TbAbVTw
 mVcgXJNxc3Ecps/KxrFdJ7D14HkYmZHpRSbcnG+BM4Gd3D+E7pEAWrp9sJH6SVY41RvA3neroFj0
 uCYz0ukySMtGgJRIQv1LB0L65ikgx+LU/vzkDQUpl5o68fTuelT3+dFP4wuMEi7RaBOLz61TcPvM
 VARaOnGcWWpkncQbrhJ1mlUHa1IssnNi8ad3j8LbM4xTIwKlDh3mzc7A8Uv9qKtpQuewH5cZmG/F
 aQizKOwLJgwlx1FyVOMDUmpwzdWJKqZHs4OxYz/3aR+enZ8MyWDGjt2nvL9uGn2Wvr/eBDQFSS7o
 gOF7CjYsynE8XZAeA29DG+47fAWZNhlp5Op32/3oIdMQFSizyFiaFYmSdCe+/cdqpJJ5yJZsogHM
 ipDRx/AUJ0UgtTAZxrZO7KhqRdH0LNSfbsCzx9rxnXgJv2wIYGGMimhqja3M1HNzE7GfzXDLoSZE
 awLvd4sQX94RK2N8pIof14xgKbN596JxOHPkPB6u6NjVNSoeZ9COtpDcQsXbr8izspKc6PYO4EJn
 P9ZmGTAnnBEn7mPJ9UwC2ERxYVDgF4SRKTYKN5EP24auap45Hg12RvNCv8BFZjBw4RIiC7OxeFEJ
 anafgn2gDytiFTY2GbfEqaEif6x6BKVOFX5nOPac78IXXKubwQjSL+OA9zoEPmj0IZsbv9w4hC5m
 PcbjxMQwKZMJTCE3hIVq4AEgP9muTZANehw924Htl0ehJ2Z/0RjAa60Cw/LV6BMNGOLG/SN+nK5r
 Q1lGNO5P0yGDtWBloeh9flIhUO/X4MhLwJE9Vdj2aSXmLSrEiN6IKqbR2+tHsUePSVEqbiO1jrPq
 0dAxgLihQWhc28awLnXKmESjI7mvm6/XJBoQxyCeb+6GOTocE2xaJPeZyGbvCNovccBYf19R5M+j
 4px4/bML+Culwt2kwv0svqN9gb/T1QxWFROCPUzxLenhWJYZifXbz+JGl4o9bT7M5vc+RnPWtHQY
 61vw2v5GsAaxMC0crvEp6G/tgPdiG85cGUZCpIYfs2tvKInF6YEAXj52CTPtEgSb3okuP5pYcxMI
 3xJ2wAFJwp52EVJ0r96Qj9rqJjxa1flp96j4IQnusGxV5XyTxcjoDKGBHVFHzy9SWV5P1uEamEvD
 soj1M2z/Swib26MVfNjYi8j4SMpkCY1eP7JJ9HOuyUV6vAOByjM4RulxKSgh6HBfXx/q9p7EBa6Z
 N68QcWxO/3F6BFdoUQIjuq/Ji7u511IWbqU3EIJrORuIn6/vXwqgibhKoKUunuyPiI62wqOXPFw+
 tj/IRuUG+eCbC9LEC0VOYZUlQfvFeIssns9Qxf1uTaxzSmIjFZqD37EniEU2WSTx/afLcsRLiWax
 tyRGHFiRJ16aHCuejtOLF5I1MVUviblcY5FFEvNNkljrlMVcsyw25drFqftLxRcLk8XzHr346+JM
 cU+EKuZYZUFEiXCea6MlMdUsCaJH2Pn3E4mqKAuTRaomiV0Lk8SBm/KCNly2AfeRAF2yJEuuKHsY
 BkghHmJNZVsgAeFQK8VYIABXuMbi5YxCjFLOhwo1g5GoP3MJ11xbAiXFg7MnGjBK1tEhgEYW48QY
 Da2sxHoKmAIyicq0djLiW8724POPKjFssWHp4jL4uoaws8cfUvyr2PTyKMXfIVyUsTYVRENulIQM
 WtrFplRzroNDkAlhAiaaYiVbGWXWlN0aTokhgiwQQCxhEa8IVNGQ37UFUMnONSlCwUYW7AoWGOcQ
 Cjk38rPjMUxna/ZVw84mFE51ebLHRzaS4dYLkGCYcjIYUx8R7BU0poDMVt8zglYqzq6eAaTERWEN
 KZJ4Rj8FXioJPp4dPJZnEL6TGcmgbjhCaKm0WB/wIz4tFpMsUvBjK0tMp7p1sjkxORJmnYoORmK2
 mZFm4Qz5AnDydQdFfSedSeElUygTNixIhikqCoc+rMH4cCMG2Nx+Wz+MYyzGHBpvJiMNUZDZRACt
 5Dq9plIpsBiZnT2Ulfnctr5rFA+wS584eBZLlk3A3I5OfHfLGUgM4hROQf3sK8tiFGJfcF7wI4bI
 KOIs4dAkjolsgKqk0lQDfVLVYVmBkRlwGrVQf97NYp0SEmJSaIrimjhM/jdQrI2fmYOmfh82v3oY
 bUz/Wi48ZDOjob4f+dxgCfvHgaYRnKPmTyKhz2Fi36sbRYRDxYOTrXi30otmwjEnzkRheAlDPV7c
 +5uDuGdmCl6+txi/efcI3msewSoWdCIl+u6zA0hgozEHMRWaWDkktXlR3Rtix6AAUJQ8I9ZnJzn1
 NWdasPvyUChVwVEw2BU7fdT1qozHMsOwZsVEirlO3Pbn05hhCeDOND00an+HJwKVnI2z2VZqOnzw
 cLwMUmGZU8I4RvHjy37SoYr9HD9nRau4xM2vK06E1tGFJM4N4wmTnUfakcVamzk9E7MtfngUP96v
 5bjaA3iYUWpKfE4YLaHj1vhoHKy46D8+LI7Q1KMyId7d1d3PgUQNddVgG49jNFtpfFaEDu/fW4QI
 4m7LB8exraIBWYQStRXqKbw+aepDUbIDNyab0OeXUcIG1Uoxls/fTCuzIXGSFdMIHy/heHOOES3k
 vVyLiimTElHR2o299YPYy77T6fdj56EL2PZBFTqcEfAlxCGGMrac6jaaa02imCxnwxzijDfcN4he
 EeqrwYbtVxKMyoriRLsrWNIVDV54yTZxmoI78+1YuawQTa29eG//eVhHh2EmSXM8wBkWXCsjubtH
 YDGL0G414necHYJ8PYMjpU74ERGtx8CVEZhZCxPiDOhqH+Ig78f03Ci4LRo2ftLIfbgOmSqO1yU4
 NdbGMA6e6YAtOizUEJ2UIGJwBNubfVybHTo3BoID0Z4zl3vPDovP2e+OyRqkixgegSPahmRGx03P
 N9yYj/nrFuH8kSZ88NEptPX58BHn2RzCo4iN7QqLeh/DkEC2qD7RCldqbCjVjeze9VSURXlh6KJl
 jedHEecxoq5pCM0c4MNpRGlRImo+r8MqDvY2ynIyLsqJYw9x28ygCEqVNo6wTcfrMX35JFx3azFu
 8RjImTLs1EL+/kF4IXE1eIMKR0kyqXmzE8PK7Z5oFDj1WHtbGaKiInD6z/twubGD0BAoYlEnMfpb
 W3xwsz4mM50ubhycGl9oGcFCRmwOh/v+3kFYSMPaCLVLuw+cT6AyW5WtPlKghNtTwxHg8L52ey0W
 0eBYFmosBZDKttvUOIwStlsngxLgdVHwwTA0jIiURGTNKUBepA6aNQwt1GHv1nvrO0fFfm5foyRp
 qjlB77u+YFq+Gju9GDqDCcNXvLC4nEgpTUNWZgxiKBs8iU5ck+9CVFwEIj0OJMeGI81F7RNtgdtq
 hSsnleOdQO7ERFjcEdS5HDPDLZg6NR2leS54zEakTimEfiiAyaRbyWFBamIkbA4bzGE2aA4r7HGR
 SMqIQV5BHCJTXdBsVoz2DkNvtyOsbDLE8CCq9p/0bbk0fJzLHCRL10q/sOtiTobrdvxoVck4iZT6
 2d5qXCBk4hiJdI8Zr1R2wkvgq6wNE08j6fSc76rII1FhIaOY7bTBmZGIF98/HBrYw9m5jHTGatHB
 SMyebOjD+e5hfHfpZHz22Sn2g16OmhIWZ0dAR1i187tPm/sxSpgYtOAYqsBu0NilJBKnTIpXMXHK
 OAx0d2HzGwe6X7k49MZwQLxNByqkP8XA/KLf8Ozzi1LXWZNc+PC9L/DcqV5kaQHcnWNiYQ+hhvLh
 xGCQVgNIZ7v3EEbDVxUAMslIdvpzy+pyVH50HE6rH0MjPmhkn6BxZkrmACutnw0pcWoeSn76SUiW
 k+SQxRq41SHhbZJBN6FWSgH0FkfkgCyQw2vJxnwvYaHbhB/cWoa6ylqs31V/prp39LdU71tIQ3Wh
 kfIxu2HazHj9mzcsHR99pYmT09unqB79uM/F1sGIkN7hGxYYR3n7Sn0AF3llOBcOjplmRno8N163
 OBeaXkFPexMxP4jz7MxBSZCgBWd2HRLyU6BqGl546RB+xe4elAoEEjLZXT8nKbJl4H5Oar9o9XPd
 AML5PXsgDMzKb69NQmKGGx9sPza46XT/zn5f4C1G/2+MX2fohtZTNoNjVoTuzaO3ZoiT3ysRLxSG
 ixgqzo1xsngpWxHbS3Vic7Is1rlksdIhix/wdW2MLIpNQZUKMdcoidcKrKL9+QXi0Ey7eJDqNVmB
 mBNGNUol+atYRTQ9XCr2LEqgWlVFOpUlO73QrvbXkAIO9lqyqQjjvhxoQmo0eM536sSRdcXiDzM9
 YqJNqzNK0jNk/Im8Tv/3YSX4cGGyUb1mQ6KpoWpNkdhzfYa4LUITd4VL4sl4SusUWayOlMR1lMc3
 87P3inXiqRRN/MCjiGsphZ/2yOKtTIO48NgMUbHALX5DZ1faJXE/nZxBJ4/dECd2rMgWt1oUUa6X
 xU8SZLGARjL4IQfGhIJgwkQqpbg69jklhNh2XZr43ZIMscaj77Uq0lY6eVtwFvjy1krovlAW4Twp
 4PtiR+vQlqrjjQGbw4iHFqfBxB0ukHG3t1+dxArJ3SsLjYgrcGJGpgHnugJItAA29o+jV0axZXct
 JKMJWSlW6Mwa8jnoP5ZvwJBmQC0bgUydksyhQiUsxxH7kdRbujHrYwmVRxMMaBq5KtuDx/pUspBO
 w/kzreKjzpGGEb+o5M9P86tu/F0djR3BJyMf65WEBgRefv2mzOkG0uWpA7V47vPLqCLmo4n5RzMo
 tdPCoOXGoudIM362u4/aX0FNtx8GxsJvNeMB1kLF9iOI4yx76Exv6J7Q/MUTsOvjGmw65cXGdBVv
 N/gxnrrlj5TrxWYFB1hvxZQvA0LF7t6RkD2LXCb89IZc7Nh/EdvOdrQc8AZ2sKa3sSz28esO/OPD
 j2AtcMA3pgKLl9jk03uD088NGeKd8VaxgFh+PEERjybpxfPZBrHzOrtYHKsTJZy6igySmMDXFU5V
 5Fs1se97ZeLFPKt4yKOKQsLh9VKH+GLtRPFGjlHcGasKmyoJRl2sckihCWy5XRV3RfF6mybKDGoI
 Oplhqqi6p0jUrisUMyxyJ5O2ndBZyzMNX3OrPeTEIhIMyee7Sxxq06vlceK1a5LEK+PswsmNc1is
 f5mkE1sLZPFssiKeSdeJ2yJlcU+UIubRyViTJl4iZncuTxN3RGliWaQmKkgML81PEjdzdPxJkirm
 smaCxbqehX4/a6iAfweLmLQpljIAD8SZxUfLM8VL5R5xa5TqpcTfy2J/mFZPoImmf2r8l0fwFnYZ
 EBMJPDbfoTW/Mt0jti9JF88XRYgkFuDvJ5rE7wv0Ip+RT2aB3hOribWM7BN0ZpxJEQvzneLY+jLx
 YKJB/DrDLD5ZXSiezLeL2TZFlLFw7+eM/WKhUfwsV885WBJjUAgV8tNZVrH9phzxKvdcHa16OeQd
 oLNPkWHL+Rs7/tWHf8HHOvmAm6W+cX20WvdaaYz4/fwU8TYX/n4Mo8ToFhuV0E2ATAPTH6OKZ9J0
 IkaVRWaUQRx/arbYMSNGfDbfI048PF08kWAQ4+h8+Bh1rnZrYqFd+bvxBYz8+9emiDcXZ4gnCyLE
 dVa5k1Ps3jHjZ/E3jGfoecm/fvwPJ76dqpMqnsu2Bd7kJluXZ4mTN2WIW6L0IotGJRHnK12kVOJ4
 mUMRP0oxiN13jhPn7p0gLj0yQ1z87mRGXhErw2WRQBgG727cR/xzTBZZFlW8Ms0l9t9RKN66NlU8
 nm4JFJjkZorE7UHY0IHp/5vxX5uS4GOd4JOR4MMFryx9Z3K4Mv2hafHO1GmZOPxZA4a9/ahp6sK2
 xn7QEcTLARgNKowxNnx71Tyosoq3/vMv+M/absTThFJSp9ugwG8yUvA5UFqaDC/F2vaPalDd2tP7
 YY+/oXcUh6hMjvA8TAFQRzO8+JonlV/7oPsIFUQJKYuj7TFLQDx14Ipv04oPLxzYtPlv3orqRnIZ
 h4ziVGy6Pi8kJW5aOg4LityYTIlsiHBC54xCUYwZT+Q5sHFeMm64qRh5M/ORMD4VQxSFVX+rxv6t
 Rwb+z5muunc6/Lt72EqCVMmtP6bxNbjK91/7mPVfPtjstCT2GzcwxQE84lSkT8psSvMdccaRn06I
 FH9aliH2rysRlY/OEldeXiWGdj4m+l//juj5r5Xi8tPzxelvjxcfzk0Svx7nEN+P1Y8utSudsSqq
 qQe2EE7PBDvsmEQIQuafU+X/4yFxdZOHUyBfS53ASoquFxIMyqdTnfpzS92G9tvjTP2vFlhH905z
 Bt5KNQReTtCPrndq/TeEK53Tw5SLiZp0jBndRqNfoPEP8rxxzPCgPAjeGPm3//HjGznCXmGIYLTC
 gQye5U5ZvtmhyOvsirzRIcvPsvls5vmr4Enyfp7nT3g+RMPvodHLeU4Za0zBR0b6/1+Gf9UhRzFy
 jKojeK+S0iiFhmYxlJx0UTB25pFVMmlwcvA3uMrpBnyD/5b5Z8d/A1zJ3/p89KToAAAAAElFTkSu
 QmCCCg==
